@import url("https://fonts.googleapis.com/css2?family=Poppins");
@import url("https://fonts.googleapis.com/css2?family=Roboto");




body{
    font-family: 'Roboto', sans-serif;
    background-color:white;
}
/*~~~~~~~~~~~~~~~ NAV CODE START~~~~~~~~~~~~~~~~~~~~~~~*/
#logo {
	float: left;
	margin: 20px;
	width: 200px;
	height: auto;
  }

nav{
	font-family: "Roboto";
	font-size: 24px;
	width: 100%;
	height: 70px;
	background-color: #f1f1f1;
	color:black;
	text-align:left;
	position: fixed;
	opacity: 95%;
	margin-top: -8px;
	line-height: 70px;
}

nav a, nav h3{
	margin: 0px;
	line-height: 60px;
	margin-left: 1em;
	margin-right: 1em;
	text-decoration: none;
	color:black;
}
.menu a{
	clear:right;
	line-height: 70px;
}

label{
	margin: 0 40px 0 0;
	font-size: 26px;
	line-height: 70px;
	display: none;
	width: 26px;
	float: right;
}

#toggle{
	display: none;
}
#app{
	padding-bottom: 150px;
}
a {
 color: black;
}
a:hover {
	color: #99D9DD;
	border-bottom: 2px solid #99D9DD;
   }

a:visited {
text-decoration: none;
   }

   /*~~~~~~~~~~~~~~~ NAV CODE END~~~~~~~~~~~~~~~~~~~~~~~*/


#img
{
    position: absolute;
    width: 900px;
    height: 500px;
    left: 10px;
    top: 150px;
}

.yourcart
{

position: absolute;
width: 232px;
height: 72px;
left: 766px;
top: 82px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 72px;
}

.second-text
{
    position: absolute;
    font-family: 'Poppins';
    width: 245px;
    height: 99px;
    left: 780px;
	top: 420px;
	font-size: 15px;
	line-height: 37px;
    
}

.NZD20
{ 
position: absolute;
width: 105px;
height: 27px;
top: 410px;
right: 82px;

font-family: 'Poppins';
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 27px;
}

.Free {
position: absolute;
width: 103px;
height: 63px;
left: 1250px;
top: 415px;

font-family: 'Poppins';
font-style: Medium 500;
font-weight: normal;
font-size: 15px;
line-height: 23px;
}

.box{
    position: absolute;
    width: 601px;
    height: 141px;
    left: 766px;
    top: 420px;
    
    background: rgba(153, 217, 221, 0.42);
    border: 3px solid #99D9DD;
    box-sizing: border-box;

}

.button2{
    font-family: 'Poppins';
    font-size: 22px;
    color: white;
    background-color: #99D9DD;
    position: absolute;
    padding: 5px 80px;
    border-style: none;
    border-radius: 18px;
    -moz-box-shadow: 0px 3px 5px rgb(196, 196, 196);
    -webkit-box-shadow: 0px 3px 5px rgb(196, 196, 196);
    box-shadow: 0px 3px 5px rgb(196, 196, 196);
    margin-left: 780px;
    margin-top: -80px;
    width: 270px;
}

.line
{
position: absolute;
width: 590px;
height: 0px;
left: 769px;
top: 380px;

border: 2px solid #99D9DD;
}

.trackerclassic{
    font-family: 'Poppins';
    font-style: 'Extra-light' 200;
    margin-left: 200px;
    margin-top: -150px;
}

#img1
{
position: absolute;
width: 143px;
height: 138px;
left: 800px;
top: 200px;

background: url(tracker_v1_2020-Sep-22_03-37-11AM-000_CustomizedView35955910435_jpg.jpg);
background-blend-mode: darken;
}


/* COPY AND PASTE THIS TO GET NAV RESPONSIVE*/
@media only screen and (min-width: 600px) and (max-width: 1055px){
	label{
		display: block;
		cursor: pointer;
		color:#249BA3;
	}
	.menu{
		text-align: center;
		width: 100%;
		display: none;
		background-color:white;
	}
	.menu a{
		display: block;
		border-bottom: 1px solid black;
		margin: 0%;
		color: black;
	}

	#toggle:checked + .menu{
		display: block;
		color: #f1f1f1;
	}
	#logo{
		display: none;
	}
} 

@media only screen and (max-width: 600px){
    
	#container{
		display: none;
	}
	label{
		display: block;
		cursor: pointer;
		color:#249BA3;
	}
	.menu{
		text-align: center;
		width: 100%;
		display: none;
		background-color:white;
	}
	.menu a{
		display: block;
		border-bottom: 1px solid black;
		margin: 0%;
		color: black;
	}

	#toggle:checked + .menu{
		display: block;
		color: #f1f1f1;
	}
	#logo{
		display: none;
	}

} 


