@import url("https://fonts.googleapis.com/css2?family=Poppins");
@import url("https://fonts.googleapis.com/css2?family=Roboto");

body{
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}

#three {
	text-align: center;
	margin: 50px;	
}

/*~~~~~~~~~~~~~~~ NAV CODE START~~~~~~~~~~~~~~~~~~~~~~~*/
#logo {
	float: left;
	margin: 20px;
	width: 200px;
	height: auto;
  }

nav{
	font-family: "Roboto";
	font-size: 24px;
	width: 100%;
	height: 70px;
	background-color: #f1f1f1;
	color:black;
	text-align:left;
	position: fixed;
	opacity: 95%;
	margin-top: -8px;
	line-height: 70px;
}

nav a, nav h3{
	margin: 0px;
	line-height: 60px;
	margin-left: 1em;
	margin-right: 1em;
	text-decoration: none;
	color:black;
}
.menu a{
	clear:right;
	line-height: 70px;
}

label{
	margin: 0 40px 0 0;
	font-size: 26px;
	line-height: 70px;
	display: none;
	width: 26px;
	float: right;
}

#toggle{
	display: none;
}
#app{
	padding-bottom: 150px;
}
a {
 color: black;
}
a:hover {
	color: #99D9DD;
	border-bottom: 2px solid #99D9DD;
   }

a:visited {
text-decoration: none;
   }

   /*~~~~~~~~~~~~~~~ NAV CODE END~~~~~~~~~~~~~~~~~~~~~~~*/

   .links{
	   text-decoration: none;
   }
   
.firstcard{
    background-color: #99D9DD;
	padding: 10px; 
	border-radius: 10px;
	margin-top: 100px;
	margin-left: 250px;
	margin-right: 250px;
	width: 800px;
	height: 550px;
	text-align: center;
}

h1{
	font-family: "Poppins";
	font-style: "SemiBold";
	color: black;
	font-size: 36px;
}

h2{
	font-family: "Poppins";
	font-style: "regular 400";
	font-size: 30px;
	font-weight: 20px;
}

h3{
	font-family: "Roboto";
	font-style: "light 300";
	font-weight: lighter;
	font-size: 18px;
}
h4{
	font-family: "Poppins";
	font-style: "regular 400";
	font-size: 30px;	
	color: #249BA3;
}


p{
	font-family: "Roboto";
	font-style: "light";
	font-size: 18px;
}


.button{
	font-size: 18px;
	color: white;
	background-color: #249BA3;
	padding: 15px 100px;
	border-radius: 50px;
	border-style: none ;
	-moz-box-shadow:    0px 3px 5px  rgb(196, 196, 196);
	-webkit-box-shadow: 0px 3px 5px  rgb(196, 196, 196);
	box-shadow:         0px 3px 5px  rgb(196, 196, 196);
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
  }
  
  .button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
  }
  
  .button:hover span {
	padding-right: 15px;
  }
  
  .button:hover span:after {
	opacity: 1;
	right: 0;
  }

.tracker{
	  width: 600px;
	  height: auto;
	  float: left;
	  transform: rotate(-60deg);
  }

  .content-container{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-column-gap: 50px; /*the gap between the columns */
    grid-row-gap:200px; /*the gap between the rows */
    grid-auto-rows: 700px; /* the length of the rows */
    align-items: center;
}
.review{
	color:#249BA3;
}
#container{
	background-color: #99D9DD;

}
.featured-article, .another-article{
    margin-top: 2%;
    margin-bottom: 2%;
}

.featured-article{
    grid-area: featured-article;
}

.another-article{
    grid-area: 'another-article';
	padding-bottom: 200px;
	padding-top: 200px;
	margin: auto;
}

.left-content{
	text-align: left;
	padding-left: 100px;
	padding-bottom: 100px;
	grid-area:'featured-article' ;

}

.right-content{
	text-align: right;
	padding-right: 100px;
	padding-bottom: 100px;
}

.right-article{
	grid-area: 'right-article';
	padding: 50px;
}

hr{
	width:100%;
	height:2px;
	color: #99D9DD; 
	background-color: #99D9DD;
	
}

#container {
    background-position:center;
    width:80%;
	height:400px;

	position:absolute;
    z-index:-1;
	margin-top: 150px;
}
img{
	width:100%;
	max-width:100%;
    display:block;
    height: auto;

}
.block{
	color: white;
}

@media only screen and (min-width: 900px){

	.all-cont{
		align-items: center;
		
	}

	#Home{
        display: grid;
        grid-template-areas: 
        'featured-article right-article'
        ;
        gap: 2vw;
        margin: 2vw;
    }
} 
/* COPY AND PASTE THIS TO GET NAV RESPONSIVE*/
@media only screen and (min-width: 600px) and (max-width: 1055px){
	label{
		display: block;
		cursor: pointer;
		color:#249BA3;
	}
	.menu{
		text-align: center;
		width: 100%;
		display: none;
		background-color:white;
	}
	.menu a{
		display: block;
		border-bottom: 1px solid black;
		margin: 0%;
		color: black;
	}

	#toggle:checked + .menu{
		display: block;
		color: #f1f1f1;
	}
	#logo{
		display: none;
	}
} 

@media only screen and (max-width: 600px){
    
	#container{
		display: none;
	}
	label{
		display: block;
		cursor: pointer;
		color:#249BA3;
	}
	.menu{
		text-align: center;
		width: 100%;
		display: none;
		background-color:white;
	}
	.menu a{
		display: block;
		border-bottom: 1px solid black;
		margin: 0%;
		color: black;
	}

	#toggle:checked + .menu{
		display: block;
		color: #f1f1f1;
	}
	#logo{
		display: none;
	}
} 


  /*~~~~~~~~~~~~~~~ footer start D~~~~~~~~~~~~~~~~~~~~~~~*/


  .row {
	display: -ms-flexbox; /* IE10 */
	display: flex;
	-ms-flex-wrap: wrap; /* IE10 */
	flex-wrap: wrap;
	margin: 0 -16px;
  }


  .footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 600px;
    background-color:#A3A3A3;
    color: white;
    text-align: center;
 }


 #logo2 {
	 position: relative;
	float: center;
	margin: 20px;
	width: 200px;
	height: auto;
	align-items: center;
 }

 .button5{
	position: relative;
	font-size: 14px;
	color: white;
	background-color: #99D9DD;
	padding: 10px 50px;
	border-radius: 50px;
	border-style: none ;
	-moz-box-shadow:    0px 3px 5px  rgb(0, 0, 0);
	-webkit-box-shadow: 0px 3px 5px  rgb(0, 0, 0);
	box-shadow:         0px 3px 5px  rgb(0, 0, 0);
	bottom: 0px;
	left: 0px;
	text-align: center;
}


.button5 span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
color: white;
}

.button5 span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
color: white;
}

.button5:hover span {
padding-right: 15px;
}

.button5:hover span:after {
opacity: 1;
right: 0;
}

 .container {
	background-color: #f2f2f2;
	padding: 5px 20px 15px 20px;
	border: 1px solid lightgrey;
	border-radius: 3px;
  }
  
  input[type=text] {
	width: 100px;
	margin-bottom: 20px;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 3px;
  }
  
  
  .icon-container {
	margin-bottom: 20px;
	padding: 7px 0;
	font-size: 24px;
  }

 /*~~~~~~~~~~~~~~~ footer end D~~~~~~~~~~~~~~~~~~~~~~~*/

